﻿@using Postmedia.ListingRepository.Web.ViewModels
@model CacheXmlDataViewModel

@{
    ViewBag.Title = "Cache Entry Data";
}

<h2>Cache Entry Data</h2> 
<p>
@Html.ActionLink("Back to Details", "ViewDetail", new RouteValueDictionary( new { id = Model.ListingNumber}))
</p>

@Html.DisplayFor(model=>model.CacheXml)
