﻿@model Postmedia.ListingRepository.Web.ViewModels.ListingPublicationSearchViewModel
@{
    ViewBag.Title = "Listing Repository Administration";
}
<h2>@ViewBag.Message</h2>

<div class="criteria">
    <h2>Listing Publication Search Criteria</h2>  

    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Listing Criteria -->
            <div class="displaygroup">
                <div id="ListingLabels" class="divCol">
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingNumber)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingSource)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingCaption)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingText)<br />
                </div>
                <div id="ListingCriteria" class="divCol">
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.ListingNumber, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingNumber)<br />
                    @Html.DropDownListFor(model => model.ListingPublicationCriteria.ListingSource, new SelectList(Model.Sources, "Value", "Value",
                            Model.ListingPublicationCriteria.ListingSource), "--Select Source--")
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingSource)<br />
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.ListingCaption, new { style = "width: 220px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingCaption)<br />
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.ListingText, new { style = "width: 220px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingText)<br />
                </div>
            </div>


            <!-- Listing Publication Criteria -->
            <div class="displaygroup">
                <div id="ListPubLabels" class="divCol">
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingPubDate)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingPubStartDate)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingPubExpireDate)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingPubStatus)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.ListingPubCategory)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.PublicationName)<br />
                </div>
                <div id="ListPubCriteria" class="divCol">
                    @Html.EditorFor(model => model.ListingPublicationCriteria.ListingPubDate, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingPubDate)<br />
                    @Html.EditorFor(model => model.ListingPublicationCriteria.ListingPubStartDate, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingPubStartDate)<br />
                    @Html.EditorFor(model => model.ListingPublicationCriteria.ListingPubExpireDate, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingPubExpireDate)<br />
                    @Html.DropDownListFor(model => model.ListingPublicationCriteria.ListingPubStatus, new SelectList(Model.ListingPubStatuses, "Value", "Value",
                            Model.ListingPublicationCriteria.ListingPubStatus), "--Select Status--")
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingPubStatus)<br />

                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.ListingPubCategory, new { style = "width: 220px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.ListingPubCategory)<br />
                    @Html.DropDownListFor(model => model.ListingPublicationCriteria.PublicationName, new SelectList(Model.Publications, "Name", "Name",
                            Model.ListingPublicationCriteria.PublicationName), "--Select Publication--")
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.PublicationName)<br />
                </div>
            </div>


            <!-- Other Criteria -->
            <div class="displaygroup">
                <div id="AsstdLabels" class="divCol">
                    @Html.LabelFor(model => model.ListingPublicationCriteria.Division)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.AccountNumber)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.AdOrderNumber)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.FeedName)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.UpsellName)<br />
                    @Html.LabelFor(model => model.ListingPublicationCriteria.PropertyValue)<br />
                </div>
                <div id="AsstdCriteria" class="divCol">
                    @Html.DropDownListFor(model => model.ListingPublicationCriteria.Division, new SelectList(Model.Divisions, "Name", "Name",
                     Model.ListingPublicationCriteria.Division), "--Select Division--")
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.Division)<br />
                    @Html.EditorFor(model => model.ListingPublicationCriteria.AccountNumber, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.AccountNumber)<br />
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.AdOrderNumber, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.AdOrderNumber)<br />
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.FeedName, new { style = "width: 120px" })
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.FeedName)<br />
                    @Html.DropDownListFor(model => model.ListingPublicationCriteria.UpsellName, new SelectList(Model.UpsellValues, "Value", "Value",
                            Model.ListingPublicationCriteria.UpsellName), "--Select Upsell--")
                    @Html.ValidationMessageFor(model => model.ListingPublicationCriteria.UpsellName)<br />
                    @Html.TextBoxFor(model => model.ListingPublicationCriteria.PropertyValue)<br />
                </div>
            </div>

            <p>
                <input type="submit" value="Search"  />
            </p>
            
            <p>
                Results Found: @(Model.ListingPublicationResults != null ? Model.ListingPublicationResults.Count : 0)
            </p>
        </fieldset>
    }
</div>

<!-- To display results with paging and sorting -->
<div class="results">
@{
    int pageSize;
    var wg = new WebGrid(rowsPerPage: int.TryParse(ViewData["GetPageSize"].ToString(), out pageSize) ? pageSize : 25) as WebGrid;
    if(Model.ListingPublicationResults != null)
    {
        wg.Bind(Model.ListingPublicationResults, rowCount: Model.ListingPublicationResults.Count, autoSortAndPage: true);
        @wg.GetHtml(
        //mode:WebGridPagerModes.Numeric|WebGridPagerModes.NextPrevious,
            mode: WebGridPagerModes.All,
            nextText: "Next",
            previousText: "Previous",
            firstText: "First",
            lastText: "Last (" + wg.PageCount + ")",
            htmlAttributes: new { id = "grid" },
            columns: wg.Columns(
                wg.Column("DivisionName", "Division Name"),
                wg.Column("ListingNumber", "Listing #"),
                wg.Column("Account", "Account #"),
                wg.Column("ListingSource", "Listing Source"),
                wg.Column("PublicationName", "Publication Name"),
                wg.Column("StartDate", "Start Date"),
                wg.Column("ExpireDate", "End Date"),
                wg.Column("Category", "Category"),
                wg.Column("Title", "Title"),
                wg.Column("ListingPublicationStatus", "Status"),
                wg.Column("FeedName", "Feed Name"),
                wg.Column(format: (item) => Html.ActionLink("View Details", "ViewDetail", "Home", new { id = item.Id }, null))
                )
        );
    }
    else
    {
        <p>-- No Records Found --</p>
    }         
}
</div>
