﻿@using System;
@using Postmedia.ListingRepository.DTO

@model Postmedia.ListingRepository.Web.ViewModels.ListingDetailViewModel
@{
    ViewBag.Title = "Listing Details";
}

@using (Html.BeginForm("ViewDetail", "Home", FormMethod.Post, new { enctype = "multipart/form-Data", onsubmit="validateListing" }))
{
    @Html.HiddenFor(x=>x.Id)

    @Html.ValidationSummary(false)

    <div class="listing-detail">
        <h1>Listing Details</h1>
        <div class="navSave">
            <span>@Html.ActionLink("Back to Listings", "Index", "Home")</span>
            &nbsp;&nbsp;&nbsp;
            <div><input type="submit" title="Save" value="Save"/></div>
            
        </div>
        <br class="clear" />
        @Html.LabelFor(model => model.HasAdminLock): 
        @Html.CheckBoxFor(model => model.HasAdminLock)<br/>
        @Html.LabelFor(model => model.ListingNumber): 
        @Html.DisplayFor(model => model.ListingNumber)<br/>

        <div class="displaygroup">
            <!-- Col 1 on screen mockup -->
            <div id="listingInfoLabels" class="divCol">
                @Html.LabelFor(model => model.ListingDivision):<br />
                @Html.LabelFor(model => model.ListingSource):<br />
                @Html.LabelFor(model => model.MinListingPubStartDate):<br />
                @Html.LabelFor(model => model.MaxListingPubExpireDate):<br />
                @Html.LabelFor(model => model.ListingAdType):<br />
            </div>

            <!-- Col 2 on screen mockup -->
            <div id="listingInfoData" class="divCol">
                @Html.DisplayFor(model => model.ListingDivision)<br />
                @Html.DisplayFor(model => model.ListingSource)<br />

                @if (Model.ListingPublications != null)
                {
                    <!-- Min start date for all listing publications on the listing. -->
                    @Html.DisplayFor(model => model.MinListingPubStartDate)<br />
                    <!-- Max end date for all listing publications on the listing  -->
                    @Html.DisplayFor(model => model.MaxListingPubExpireDate)<br />
                }
                else
                {
                    <!-- this should never happen.  A listing should always have at least one listing publication -->
                    <br />
                    <br />
                }
                @Html.DisplayFor(model => model.ListingAdType)<br />
            </div>
        </div>

        <div class="displaygroup">
            <!-- Col 3 on screen mockup --> 
            <div id="accountInfoLabels" class="divCol">
                @Html.LabelFor(model => model.AccountNumber):<br />
                @Html.LabelFor(model => model.AdOrderNumber):<br />
                @Html.LabelFor(model => model.AgencyAccountNumber):<br />
                @Html.LabelFor(model => model.ExternalAccountNumber):<br />
                @Html.LabelFor(model => model.ExternalAdOrderNumber):<br />
            </div>

            <!-- Col 4 on screen mockup --> 
            <div id="accountInfoData" class="divCol">
                @Html.DisplayFor(model => model.AccountNumber)<br />
                @Html.DisplayFor(model => model.AdOrderNumber)<br />
                @Html.DisplayFor(model => model.AgencyAccountNumber)<br />
                @Html.DisplayFor(model => model.ExternalAccountNumber)<br />
                @Html.DisplayFor(model => model.ExternalAdOrderNumber)<br />
            </div>
        </div>

        <div class="displaygroup">
            <!-- Col 5 on screen mockup --> 
            <div id="advertiserInfoLabels" class="divCol">
                @Html.LabelFor(model => model.AdvertiserName):<br />
                @Html.LabelFor(model => model.AdvertiserCompanyName):<br />
                <span class="label">Contact:</span><br />
                <div class="subgroup">
                    @Html.LabelFor(model => model.ContactFirstName):<br />
                    @Html.LabelFor(model => model.ContactLastName):<br /> 
                    @Html.LabelFor(model => model.ContactEmail):<br /> 
                    @Html.LabelFor(model => model.ContactPhone):<br /> 
                </div>
            </div>

            <!-- Col 6 on screen mockup --> 
            <div id="advertiserInfoData" class="divCol">
                @Model.AdvertiserName<br />
                @Model.AdvertiserCompanyName<br />
                &nbsp;<br />
                @Html.EditorFor(model => model.ContactFirstName)
                @Html.ValidationMessageFor(model => model.ContactFirstName)
                <br />
                @Html.EditorFor(model => model.ContactLastName)
                @Html.ValidationMessageFor(model => model.ContactLastName)
                <br /> 
                @Html.EditorFor(model => model.ContactEmail)
                @Html.ValidationMessageFor(model => model.ContactEmail)
                <br /> 
                @Html.EditorFor(model => model.ContactPhone)
                @Html.ValidationMessageFor(model => model.ContactPhone)
                <br /> 
            </div>
        </div>
    </div>
    <br class="clear" />

    <div class="publication-details">
        <h2>Publication Details</h2>

        <!-- Display the publication details records on this listing -->
        <!-- Not using "labelFor" for the headings because there may not be any entries -->
        <table>
            <tr>
                <th>
                    Publication
                </th>
                <th>
                    Category
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Status
                </th>
            </tr>

            @if (Model.ListingPubViewModels != null)
            {
                @Html.EditorFor(m=>m.ListingPubViewModels)
            }
        </table>
    </div>
    <br class="clear" />
    
    <div class="outbound-cache-entry">
        <h2>Outbound Cache Entries</h2>
        <table>
            <tr>
                <th>
                    Feed Name
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    Expire Date
                </th>
                <th>
                    Last Modified Date
                </th>
                <th>
                    Cache Data
                </th>
            </tr>
            @if (Model.CacheEntryViewModels.Any())
            {
                @Html.EditorFor(model => model.CacheEntryViewModels)
            }
            else
            { 
                <tr><td colspan="5">--No Outbound Cache Entries Available--</td></tr>
            }
        </table>
    </div>
    
    <div class="media">
        <h2>Media</h2>

        <table>
            <tr>
                <th>
                    MimeType
                </th>
                <th>
                    Role
                </th>
                <th>
                    Url
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>

            @if (Model.listingMediaCount > 0)
            {
                for (int media = 0; media < Model.ListingMediaViewModels.Count; media++)
                {
                    <tr id="row-@media">

                        <td>
                            @Html.HiddenFor(model => model.ListingMediaViewModels[media].Id)
                            @Html.DisplayFor(model => model.ListingMediaViewModels[media].MimeType)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ListingMediaViewModels[media].Role)
                        </td>
                        <td>
                            @Model.ListingMediaViewModels[media].FormattedUrl
                        </td>
                        <td>
                            @if (Model.ListingMediaViewModels[media].DisplayPreview)
                            {
                                <a href=@Model.ListingMediaViewModels[media].FormattedUrl >Preview</a>
                            }
                            else
                            { 
                                <span>&nbsp;</span>
                            }
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="3">--No Media Available--</td></tr>
            }            
        </table>            
    </div>

    <div class="upsells">
        <h2>Upsells</h2>
        <table>
            <tr>
                <th>
                    Publication 
                </th>
                <th>
                    StartDate
                </th>
                <th>
                    Upsells
                </th>
            </tr>

            <!-- Upsells are at the ListingPublication level, so they will be displayed with listing publication information -->
            @if (Model.listingPubUpsellCount > 0)
            {
                for (int listPubIndex = 0; listPubIndex < Model.ListingPubViewModels.Count; listPubIndex++)
                {
                    if (Model.ListingPubViewModels[listPubIndex].Upsells != null)
                    {
                        for (int upsellIndex = 0; upsellIndex < Model.ListingPubViewModels[listPubIndex].ListingPubUpsellViewModels.Count; upsellIndex++)
                        {
                            <tr id="row-@upsellIndex"> <!-- no id required because this is display only -->
                                <td>
                                    @Html.HiddenFor(model => model.ListingPubViewModels[listPubIndex].Id)
                                    @Html.DisplayFor(model => model.ListingPubViewModels[listPubIndex].Publication.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.ListingPubViewModels[listPubIndex].StartDate)
                                </td>
                                <td>
                                    @Html.HiddenFor(model => model.ListingPubViewModels[listPubIndex].ListingPubUpsellViewModels[upsellIndex].Id)
                                    @Html.HiddenFor(model => model.ListingPubViewModels[listPubIndex].ListingPubUpsellViewModels[upsellIndex].Code)
                                    @Html.DisplayFor(model => model.ListingPubViewModels[listPubIndex].ListingPubUpsellViewModels[upsellIndex].Name)
                                </td>
                            </tr>
                        }
                    }
                }
            }

        </table>
    </div>

    <div class="displaygroup">
        <div class="AdText">
            <h2>Ad Text</h2>
            <div class="divCol">
                @Html.LabelFor(model => model.Title):<br />
                @Html.LabelFor(model => model.Description):<br />
            </div>

            <div class="divCol">
                @Html.TextBoxFor(model => model.Title, new { style = "width: 500px" })
                @Html.ValidationMessageFor(model => model.Title)<br />

                @Html.TextAreaFor(model => model.Description, new { rows = 10, cols = 50, @class = "editAdText" })
                @Html.ValidationMessageFor(model => model.Description)<br />
            </div>
            <br class="clear" />
        </div>
    </div>


    <div id="propertyMetadata" style="width: 500px">
        <h2>Metadata</h2>
        @Html.ActionLink("Add Property...", "AddMetadata", null, new { id = "addPropertyItem" })
        <br/>
        <div style="float: left; width: 200px" class="header">Name</div>
        <div style="float: left; width: 200px" class="header">Value</div>
        <div class="header">&nbsp;</div>
        @if ((Model.Listing.Properties != null) && (Model.Listing.Properties.Count > 0))
        {
            foreach (var metadata in Model.Listing.Properties)
            {
                Html.RenderPartial("_MetadataPartial", metadata);
            }
        }
    </div>
    <br />
    <br />
    <div><input type="submit" title="Save" value="Save"/></div>
}