﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.DetailedUpsellSearchViewModel

@{
    ViewBag.Title = "Detailed Upsell Search";
}

<div class="criteria">
    <h2>Detailed Upsell Search Criteria</h2>  

    @using (Html.BeginForm("DetailedUpsellSearch", "ReportList", FormMethod.Get, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.DivisionCode)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.DetailedUpsellCriteria.DivisionCode, new SelectList(Model.Divisions, "Code", "Name", Model.DetailedUpsellCriteria.DivisionCode), "--Select Division--")
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.DivisionCode)
            </span>
            
            <br />

            <!-- Listing Source criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.ListingSource)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.DetailedUpsellCriteria.ListingSource, new SelectList(Model.Sources, "Value", "Value", Model.DetailedUpsellCriteria.ListingSource), "--Select Source--")
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.ListingSource)
            </span>
            
            <br />
            
            <!-- Publication criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.PublicationCode)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.DetailedUpsellCriteria.PublicationCode, new SelectList(Model.Publications, "Code", "Name", Model.DetailedUpsellCriteria.PublicationCode), "--Select Publication--")
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.PublicationCode)
            </span>
            
            <br />

            <!-- Upsell criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.UpsellCode)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.DetailedUpsellCriteria.UpsellCode, new SelectList(Model.UpsellValues, "Code", "Value", Model.DetailedUpsellCriteria.UpsellCode), "--Select Upsell--")
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.UpsellCode)
            </span>
            
            <br />
            
            <!-- Status criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.ListingPubStatus)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.DetailedUpsellCriteria.ListingPubStatus, new SelectList(Model.Status, "Value", "Value", Model.DetailedUpsellCriteria.ListingPubStatus), "--Select Status--")
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.ListingPubStatus)
            </span>
            
            <br />
            
            
            <span class="editor-label">
                <b>Start Date Between:</b>
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.DetailedUpsellCriteria.StartDate1, new { style = "width: 120px" })
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.StartDate1)
            </span>
            <span class="editor-label">
                <b> AND </b>
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.DetailedUpsellCriteria.StartDate2, new { style = "width: 120px" })
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.StartDate2)
            </span>
    
            <br />
            <span class="editor-label">
                <b>Expire Date Between:</b>
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.DetailedUpsellCriteria.ExpireDate1, new { style = "width: 120px" })
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.ExpireDate1)
            </span>

            <span class="editor-label">
                <b> AND </b>
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.DetailedUpsellCriteria.ExpireDate2, new { style = "width: 120px" })
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.ExpireDate2)
            </span>
            
            <br />
            <span class="editor-label">
                @Html.LabelFor(model => model.DetailedUpsellCriteria.PublishDayFilter)
            </span>
            <span class="editor-field">
                <!--Html.DropDownListFor(model => Model.DetailedUpsellCriteria.PublishDayFilter, new SelectList(Model.PublishDayFilters, "Value", "Name", Model.DetailedUpsellCriteria.PublishDayFilter))-->
                @Html.EditorFor(model => model.DetailedUpsellCriteria.PublishDayFilter)
                @Html.ValidationMessageFor(model => model.DetailedUpsellCriteria.PublishDayFilter)
            </span>
            
            <!-- Email Criteria -->
            <br />
            <span>
                @Html.LabelFor(model => model.DetailedUpsellCriteria.EmailResults)
            </span>
            <span>
                @Html.CheckBoxFor(model => model.DetailedUpsellCriteria.EmailResults)
            </span>

            <span>
                @Html.LabelFor(model => model.DetailedUpsellCriteria.EmailAddress)
            </span>
            <span>
                @Html.EditorFor(model => model.DetailedUpsellCriteria.EmailAddress)
            </span>
            <p>
                <input type="submit" value="Search"  />
            </p>
            
            <div>
                Record Count: @Model.DetailedUpsellResults.Count
            </div>
        </fieldset>
    }
</div>


<div class="results">
@{
    int pageSize;
    //var wg = new WebGrid(rowsPerPage: int.TryParse(ViewData["GetPageSize"].ToString(), out pageSize) ? pageSize : 25) as WebGrid;
    var wg = new WebGrid(rowsPerPage: int.TryParse("25", out pageSize) ? pageSize : 25) as WebGrid;
    if (Model.DetailedUpsellResults != null)
    {
        wg.Bind(Model.DetailedUpsellResults, rowCount: Model.DetailedUpsellResults.Count, autoSortAndPage: true);
        @wg.GetHtml(
        //mode:WebGridPagerModes.Numeric|WebGridPagerModes.NextPrevious,
            mode: WebGridPagerModes.All,
            nextText: "Next",
            previousText: "Previous",
            firstText: "First",
            lastText: "Last (" + wg.PageCount + ")",
            htmlAttributes: new { id = "grid" },
            columns: wg.Columns(
                wg.Column("Source", "Source"),
                wg.Column("DivisionName", "Division Name"),
                wg.Column("ListingNumber", "Listing Number"),
                wg.Column("PublicationName", "Publication"),
                wg.Column("Title", "Title"),
                wg.Column("UpsellName", "Upsell"),
                wg.Column("Status", "Status"),
                wg.Column("StartDate", "StartDate"),
                wg.Column("ExpireDate", "ExpireDate"),
                wg.Column("PublishingDays", "Publishing Days"),
                wg.Column(format: (item) => Html.ActionLink("View Details", "ViewDetail", "Home", new { id = item.listingid }, null))
                )
        );
    }
    else
    {
        <p>-- No Records Found --</p>
    }         
}
</div>
