﻿@{
    ViewBag.Title = "Index";
}

<h2>Report List</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Upsell Report", "WorkingUpsellSearch")</li>
        <li>@Html.ActionLink("SAMS Working Ads", "WorkingSAMSSearch")</li>
        <li>@Html.ActionLink("SAMS Employment Missed Ads", "WorkingSamsNoFeedbackSearch")</li>
        <li>@Html.ActionLink("QR Code Url Report", "QRCodeUrlSearch")</li>
        <li>@Html.ActionLink("Detailed Upsell Report", "DetailedUpsellSearch")</li>
    </ul>
</div>

