﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.WorkingSAMSSearchViewModel
@{
    ViewBag.Title = "SAMS Working Search";
}

<h2>SAMS Working Search</h2>

<div class="criteria">
    <h2>Search Criteria</h2>  

    @using (Html.BeginForm("SAMSWorkingSearch", "ReportList", FormMethod.Post, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.WorkingSAMSCriteria.Division)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.WorkingSAMSCriteria.Division, new SelectList(Model.Divisions, "Code", "Name", Model.WorkingSAMSCriteria.Division), "--Select Division--")
                @Html.ValidationMessageFor(model => model.WorkingSAMSCriteria.Division)
            </span>

            <!-- Date.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.WorkingSAMSCriteria.Date)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.WorkingSAMSCriteria.Date)
                @Html.ValidationMessageFor(model => model.WorkingSAMSCriteria.Date)
            </span>
    
            <p>
                <input type="submit" value="Search"  />
            </p>
        </fieldset>
    }
</div>



<div class="results">
    <h2>Search Results...</h2>

    <table>
        <tr>
            <th>
                Division
            </th>
            <th>
                Ad Number                
            </th>
            <th>
                Account
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Start Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Ad Length
            </th>
        </tr>
        @if (Model.WorkingSAMSResults != null)
        {
            foreach (var item in Model.WorkingSAMSResults)
            {
                <tr id="row-@item">
                    <td>
                        @item.Division
                    </td>
                    <td>
                        @item.ListingNumber
                    </td>
                    <td>
                        @item.Account
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.ExpireDate
                    </td>
                    <td>
                        @item.AdLength
                    </td>
                </tr>
            }
        }
    </table>
</div>

