﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.Working.UpsellSearchViewModel

@{
    ViewBag.Title = "Working Upsell Search";
}

<div class="criteria">
    <h2>Working Upsell Search Criteria</h2>  

    @using (Html.BeginForm("WorkingUpsellSearch", "ReportList", FormMethod.Post, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.UpsellCriteria.Division)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.UpsellCriteria.Division, new SelectList(Model.Divisions, "Code", "Name", Model.UpsellCriteria.Division), "--Select Division--")
                @Html.ValidationMessageFor(model => model.UpsellCriteria.Division)
            </span>

            <!-- Start of date range.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.UpsellCriteria.StartDate)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.UpsellCriteria.StartDate)
                @Html.ValidationMessageFor(model => model.UpsellCriteria.StartDate)
            </span>
    
            <!-- End of date range.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.UpsellCriteria.EndDate)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.UpsellCriteria.EndDate)
                @Html.ValidationMessageFor(model => model.UpsellCriteria.EndDate)
            </span>

            <!-- Email Criteria -->
            <br />
            <span>
                @Html.LabelFor(model => model.UpsellCriteria.EmailResults)
            </span>
            <span>
                @Html.CheckBoxFor(model => model.UpsellCriteria.EmailResults)
            </span>

            <span>
                @Html.LabelFor(model => model.UpsellCriteria.EmailAddress)
            </span>
            <span>
                @Html.EditorFor(model => model.UpsellCriteria.EmailAddress)
            </span>

            <p>
                <input type="submit" value="Search"  />
            </p>
        </fieldset>
    }
</div>


<div class="results">
    <h2>Search Results...</h2>

    <table>
        @if ((Model.UpsellResults != null) && (Model.UpsellResults.Count > 0))
        {
            // build the header row first
            <tr>
                <th>Division</th>
                @foreach (var colhead in Model.UpsellResults[0].UpsellCounts)
                {
                    <th>@colhead.Name</th>
                }
                <th>Totals</th>
            </tr>
            
            // report detail rows
            foreach (var item in Model.UpsellResults)
            {   
                <tr id="row-@item">
                <td>@item.Division</td>
                @foreach (var upsell in item.UpsellCounts)
                { 
                    <td class="numeric">@upsell.Value</td>
                }   
                <td class="numeric totals">@item.DivUpsellTotal</td>
                </tr>                              
            }
        }
    </table>
</div>
