﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.Working.TravidiaNoFeedbackSearchViewModel

@{
    ViewBag.Title = "Travidia No Feedback Report";
}

<div class="criteria">
    <h2>Travidia No Feedback Report Search Criteria</h2>  

    @using (Html.BeginForm("WorkingTravidiaNoFeedbackSearch", "ReportList", FormMethod.Post, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.TravidiaNoFeedbackCriteria.Division)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.TravidiaNoFeedbackCriteria.Division, new SelectList(Model.Divisions, "Code", "Name", Model.TravidiaNoFeedbackCriteria.Division), "--Select Division--")
                @Html.ValidationMessageFor(model => model.TravidiaNoFeedbackCriteria.Division)
            </span>

            <!-- Date.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.TravidiaNoFeedbackCriteria.Date)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.TravidiaNoFeedbackCriteria.Date)
                @Html.ValidationMessageFor(model => model.TravidiaNoFeedbackCriteria.Date)
            </span>
    
            <!-- Email Criteria -->
            <br />
            <span>
                @Html.LabelFor(model => model.TravidiaNoFeedbackCriteria.EmailResults)
            </span>
            <span>
                @Html.CheckBoxFor(model => model.TravidiaNoFeedbackCriteria.EmailResults)
            </span>

            <span>
                @Html.LabelFor(model => model.TravidiaNoFeedbackCriteria.EmailAddress)
            </span>
            <span>
                @Html.EditorFor(model => model.TravidiaNoFeedbackCriteria.EmailAddress)
            </span>
            <p>
                <input type="submit" value="Search"  />
            </p>
        </fieldset>
    }
</div>

<div class="results">
    <h2>Search Results...</h2>

    <table>
        <tr>
            <th>
                Division
            </th>
            <th>
                Ad Number                
            </th>
            <th>
                Account
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Start Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Ad Length
            </th>
            <th>
                Display URL
            </th>
        </tr>
        @if (Model.TravidiaNoFeedbackResults != null)
        {
            foreach (var item in Model.TravidiaNoFeedbackResults)
            {
                <tr id="row-@item">
                    <td>
                        @item.Division
                    </td>
                    <td>
                        @item.ListingNumber
                    </td>
                    <td>
                        @item.Advertiser
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.ExpireDate
                    </td>
                    <td class="@item.AdLengthStyle">
                        @item.AdLength
                    </td>
                    <td>
                        @item.DisplayURL
                    </td>
                </tr>
            }
        }
        
        @if (Model.TravidiaNoFeedbackResults == null || Model.TravidiaNoFeedbackResults.Count == 0)
        { 
            <tr>
            <td colspan="8">-- No Records Found --</td>
            </tr>            
        }
    </table>
</div>

