﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.Working.SAMSSearchViewModel
@{
    ViewBag.Title = "SAMS Working Search";
}

<div class="criteria">
    <h2>SAMS Working Search Criteria</h2>  

    @using (Html.BeginForm("WorkingSAMSSearch", "ReportList", FormMethod.Post, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.SamsCriteria.Division)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.SamsCriteria.Division, new SelectList(Model.Divisions, "Code", "Name", Model.SamsCriteria.Division), "--Select Division--")
                @Html.ValidationMessageFor(model => model.SamsCriteria.Division)
            </span>

            <!-- Date.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.SamsCriteria.Date)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.SamsCriteria.Date)
                @Html.ValidationMessageFor(model => model.SamsCriteria.Date)
            </span>
            
            <!-- Email Criteria -->
            <br />
            <span>
                @Html.LabelFor(model => model.SamsCriteria.EmailResults)
            </span>
            <span>
                @Html.CheckBoxFor(model => model.SamsCriteria.EmailResults)
            </span>

            <span>
                @Html.LabelFor(model => model.SamsCriteria.EmailAddress)
            </span>
            <span>
                @Html.EditorFor(model => model.SamsCriteria.EmailAddress)
            </span>

            <p>
                <input type="submit" value="Search"  />
            </p>
        </fieldset>
    }
</div>

<div class="results">
    <h2>Search Results...</h2>

    <table>
        <tr>
            <th>
                Division
            </th>
            <th>
                SAMS Ad 
            </th>
            <th>
                Account
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Start Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Ad Length
            </th>
            <th>
                Feed
            </th>
        </tr>
        @if (Model.SamsResults != null)
        {
            foreach (var item in Model.SamsResults)
            {
                <tr id="row-@item">
                    <td>
                        @item.Division
                    </td>
                    <td>
                        @item.SamsAdNumber
                    </td>
                    <td>
                        @item.Advertiser
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.ExpireDate
                    </td>
                    <td class="@item.AdLengthStyle">
                        @item.AdLength
                    </td>
                    <td class="@item.FeedNameStyle">
                        @item.FeedName
                    </td>
                </tr>
            }
        }
        
        @if (Model.SamsResults == null || Model.SamsResults.Count == 0)
        { 
            <tr>
            <td colspan="9">-- No Records Found --</td>
            </tr>            
        }

    </table>
</div>

