﻿@model Postmedia.ListingRepository.Web.ViewModels.Reports.Working.SamsNoFeedbackSearchViewModel
@{
    ViewBag.Title = "SAMS Employment Missed Ads Search";
}

<div class="criteria">
    <h2>SAMS Employment Missed Ads Search Criteria</h2>  

    @using (Html.BeginForm("WorkingSamsNoFeedbackSearch", "ReportList", FormMethod.Post, new { enctype = "multipart/form-Data" }))
    {
        @Html.ValidationSummary(true)
        <fieldset>
            <!-- Division criteria -->
            <span class="editor-label">
                @Html.LabelFor(model => model.SamsNoFeedbackCriteria.Division)
            </span>
            <span class="editor-field">
                @Html.DropDownListFor(model => model.SamsNoFeedbackCriteria.Division, new SelectList(Model.Divisions, "Code", "Name", Model.SamsNoFeedbackCriteria.Division), "--Select Division--")
                @Html.ValidationMessageFor(model => model.SamsNoFeedbackCriteria.Division)
            </span>

            <!-- Date.  Service will retrieve any records where date >= StartDate and <= ExpireDate -->
            <span class="editor-label">
                @Html.LabelFor(model => model.SamsNoFeedbackCriteria.Date)
            </span>
            <span class="editor-field">
                @Html.EditorFor(model => model.SamsNoFeedbackCriteria.Date)
                @Html.ValidationMessageFor(model => model.SamsNoFeedbackCriteria.Date)
            </span>
            
            <!-- Email Criteria -->
            <br />
            <span>
                @Html.LabelFor(model => model.SamsNoFeedbackCriteria.EmailResults)
            </span>
            <span>
                @Html.CheckBoxFor(model => model.SamsNoFeedbackCriteria.EmailResults)
            </span>

            <span>
                @Html.LabelFor(model => model.SamsNoFeedbackCriteria.EmailAddress)
            </span>
            <span>
                @Html.EditorFor(model => model.SamsNoFeedbackCriteria.EmailAddress)
            </span>

            <p>
                <input type="submit" value="Search"  />
            </p>
        </fieldset>
    }
</div>

<div class="results">
    <h2>Search Results...</h2>

    <table>
        <tr>
            <th>
                Division
            </th>
            <th>
                SAMS Ad 
            </th>
            <th>
                Account
            </th>
            <th>
                Title
            </th>
            <th>
                Category
            </th>
            <th>
                Start Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Ad Length
            </th>
            <th>
                Feed
            </th>
        </tr>
        @if (Model.SamsNoFeedbackResults != null)
        {
            foreach (var item in Model.SamsNoFeedbackResults)
            {
                <tr id="row-@item">
                    <td>
                        @item.Division
                    </td>
                    <td>
                        @item.SamsAdNumber
                    </td>
                    <td>
                        @item.Advertiser
                    </td>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Category
                    </td>
                    <td>
                        @item.StartDate
                    </td>
                    <td>
                        @item.ExpireDate
                    </td>
                    <td class="@item.AdLengthStyle">
                        @item.AdLength
                    </td>
                    <td class="@item.FeedNameStyle">
                        @item.FeedName
                    </td>
                </tr>
            }
        }
        
        @if (Model.SamsNoFeedbackResults == null || Model.SamsNoFeedbackResults.Count == 0)
        { 
            <tr>
            <td colspan="9">-- No Records Found --</td>
            </tr>            
        }

    </table>
</div>

