﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.base.css")" rel="stylesheet" type="text/css" /> 
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.button.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MicrosoftAjax.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcAjax.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/MicrosoftMvcValidation.debug.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript" ></script>

</head>
<body>
    <div class="page">
        <header>
            
            <div id="title">
                <h1>Listing Administration</h1>
            </div>
            
            <div id="logindisplay">
                Welcome <strong>@User.Identity.Name</strong>!
            </div>
            
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="@Url.Content("~/MetadataAdmin/")">Metadata Admin</a></li>
                    <li><a href="@Url.Content("~/ReportList/")">Report List</a></li>
                </ul>
            </nav>
            
        </header>
        <section id="main">
            <div id="brand"><img src="../../Content/Images/Postmedia_CL_Blue_CMYK.jpg" height="62" width="300" /></div>
            @RenderBody()
        
            <!-- not sure why this needs to be in the body.  It will not work when it's located in the head section -->
            <script type="text/javascript" src="@Url.Content("~/Scripts/listEditor.js")"></script>
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
