﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Mapping Failure";
}

<h2>Mapping Failure</h2>

There was a problem preparing your data for transport.<br />
Please contact application support or check the logs for more details.
