﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    An error occurred while processing your request.
</h2>

@if (Model != null)
{
    <p>@Model.Exception.GetType().Name<br />
        thrown in @Model.ControllerName @Model.ActionName</p>
    
    <p>@Model.Exception.Message</p>
    
    <p>@Model.Exception.StackTrace</p>

    <br/>
    <br/>

    if (Model.Exception.InnerException != null)
    {
        @Model.Exception.InnerException.Message
         @Model.Exception.InnerException.StackTrace
    }
    
}
