﻿@using Postmedia.ListingRepository.DTO
@using Postmedia.ListingRepository.Web.Helpers

@model Property


<div class="propertyRow">
    @using(Html.BeginCollectionItem("pvms"))
    {
        @Html.EditorFor(model => model.Code)
        @Html.EditorFor(model => model.Value)

        <a href="#" class="deletePropertyRow">delete</a>
    }
</div>