﻿@model Postmedia.ListingRepository.DTO.OodleImportSummary

<div id="outer">
    <h3>Oodle Category Import Summary</h3>
  
    Import Source Location: <a href="@Model.importUrl">@Model.importUrl</a> <br/>
    Number of Category Configurations Created: @Model.numberOfHeaders<br/>
    Total Number of Categories: @Model.numberOfItems<br/>
</div>
