﻿@model Postmedia.ListingRepository.DTO.YearMakeModelImportSummary


<div id="outer">
    <h3>Year Make Model Import Summary</h3>
    ImportResult: @Model.Success <br/>
    @Model.FailureReasonDisplay <br/>
    
    Import Source Location: @Html.DisplayFor(model => model.ImportSourceLocation)<br/>

    Number of Records Imported: @Html.DisplayFor(model => model.NumberOfRecordsImported)<br/>
    Total Number of Records: @Html.DisplayFor(model => model.TotalNumberOfRecords)<br/>
    @*Omitted Records: (@Model.TotalNumberOfRecords - @Model.NumberOfRecordsImported)*@

    Year Count: @Html.DisplayFor(model => model.YearCount)<br/>
    Make Count: @Html.DisplayFor(model => model.MakeCount)<br/>
    Model Count: @Html.DisplayFor(model => model.ModelCount)<br/>
    
</div>
