﻿@model HandleErrorInfo

@{
    ViewBag.Title = "Communication Failure";
}

<h2>Communication Failure</h2>

There was a problem communicating with the LR Services. <br />
Please contact application support or check the logs for more details.
