﻿@{
    ViewBag.Title = "Index";
}

<h2>Metadata Administration Page</h2>

    @Ajax.ActionLink("Update Year Make Models",
                     "UpdateYmm",
                     "MetadataAdmin", 
                     new AjaxOptions
                         {
                             Confirm = "Are you sure you want to replace the existing Year/Make/Models? This operation could take up to 10 minutes. Failure to ensure the import .csv is in the correct import location prior to clicking \"OK\" could result in import errors.",
                             HttpMethod = "GET",
                             UpdateTargetId = "YMMSummaryDiv",
                             LoadingElementId = "ymmSummaryLoadingDiv"
                         }) 
                         
<div id="ymmSummaryLoadingDiv" style="display: none"><img alt="Updating..." src="../../Content/Images/progress.gif" /></div>





<div id="YMMSummaryDiv">
</div>
    
    <br/>
    <br/>
    
        @Ajax.ActionLink("Import Oodle Categories",
                     "ImportOodleCategories",
                     "MetadataAdmin", 
                     new AjaxOptions
                         {
                             Confirm = "Are you sure you want to update the existing Oodle Categories? This operation could take up to 10 minutes",
                             HttpMethod = "GET",
                             UpdateTargetId = "OodleSummaryDiv",
                             LoadingElementId = "oodleSummaryLoadingDiv"
                         }) 
                         
<div id="oodleSummaryLoadingDiv" style="display: none"><img alt="Updating..." src="../../Content/Images/progress.gif" /></div>
<div id="OodleSummaryDiv">
    
</div>