﻿@model Postmedia.ListingRepository.Web.ViewModels.ListingCacheEntryViewModel

<tr>
    <td>
        @Html.DisplayFor(model => model.FeedName)
    </td>
    <td>
        @Html.DisplayFor(model => model.StartDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.ExpireDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.LastModifiedDate)
    </td>
    <td>
        @Html.ActionLink("View XML", "ViewXml", new { id = Model.Id }) 
    </td>
</tr>
