﻿@using Postmedia.ListingRepository.DTO
@model Postmedia.ListingRepository.Web.ViewModels.ListingPublicationViewModel

<tr >
    <td>
        @*Html.HiddenFor(model => model.Id)*@
        @Html.HiddenFor(model => model.Publication.Id)
        @Html.HiddenFor(model => model.Publication.Code)
        @Html.DisplayFor(model => model.Publication.Name)
    </td>
    <td>
@*        @Html.HiddenFor(model => model.Category.Id)
        @Html.HiddenFor(model => model.Category.Code)*@
        @Html.DisplayFor(model => model.DisplayCategory)
    </td>
    <td>
        @Html.EditorFor(model => model.StartDate)
    </td>
    <td>
        @Html.EditorFor(model => model.ExpireDate)
    </td>
    <td>
        @Html.DropDownListFor(model => model.Status
            , new SelectList(((List<ListingStatusLookup>)Session["StatusLookups"]), "Value", "Value"
                , Model.Status), "--Status--")
    </td>
</tr>